@(title: String, message: String, myForm: Form[Mydata], data:List[Mydata])

@main(title) {
    <h1>@title</h1>
    <p>@message</p>
    @helper.form(action = routes.Application.sendform) {
        @helper.inputText(myForm("name"))
        @helper.inputText(myForm("message"))
        @helper.inputText(myForm("createdAt"))
        <input type="submit">
    }
    <hr>
    @if(data != null) {
        <p>MyBBS</p>
        <table>
            <tr>
                <th>Name</th>
                <th>Message</th>
                <th>CreatedAt</th>
            </tr>
            @for(data:Mydata <- data) {
                <tr>
                    <td>@data.name</td>
                    <td>@data.message</td>
                    <td>@data.createdAt</td>
                </tr>
            }
        </table>
    }
}
